* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.60) 10%, transparent), no-repeat url('./images/freedom.jpg') left 10% bottom 80%/cover border-box border-box, #ff1b68;
    /* background-image: radial-gradient(circle at 25%,red, blue); */
    height: 33vh;
    margin-top: 2rem;
    position: relative;
}

#product-overview h1 {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 1.6rem;
}

@media (min-width: 40rem) {
    #product-overview {
        height: 40vh;
        background-position: 50% 25%;
    }

    #product-overview h1 {
        font-size: 3rem;
    }
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

/* .plan__list {
    width: 100%;
    text-align: center;
} */

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
}

.plan-highlighted {
    background: #19b84c;
    color: white;
    /* box-shadow: 2px 2px 2px 2px rgb(95, 134, 100); */
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgb(95, 134, 100);
    border-radius: 5px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: rgb(95, 134, 100)
}

.plan-highlighted .plan__title {
    color: white;
}

.plan-highlighted .plan__price {
    color: black;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__features li {
    margin: 0.5rem 0;
}

@media (min-width: 40rem) {
    .plan__list {
        width: 100%;
        text-align: center;
    }

    .plan {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        min-width: 13rem;
        max-width: 20rem;
    }

    .plan-highlighted {
        box-shadow: 2px 2px 2px 2px rgb(95, 134, 100);
    }
}

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

#key-features {
    background: #ff1b68;
    /* margin-top: 3.125rem; */
    margin-top: 0;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.key-feature {
    width: 100%;
    vertical-align: middle;
}

.key-features__img {
    background: #ffcede;
    width: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    height: 128px;
    margin: auto;
    padding: 1.25rem;
}

.key-features__desc {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

@media (min-width: 40rem) {
    .key-feature {
        display: inline-block;
        width: 30%;
        min-width: 13.75rem;
        max-width: 20rem;
    }

    #key-features {
        margin-top: 3.125rem;
    }
}

#product-overview h1 {
    margin: 0;
    color: white;
    font-family: 'Anton', sans-serif;
}

/* .main-header {
    background-color: #2ddf5c;
    padding: 0.5rem 1rem;
    width: 100%;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    text-align: right;
    display: inline-block;
    width: calc(100% - 73px);
    vertical-align: middle;
}

.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding-bottom: 3px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    border-bottom: 3px solid white;
    color: white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    border: none;
    background: white;
} */

/* .main-footer {
    background: black;
    text-decoration: none;
    padding: 2rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
} */

/* .main-nav__item a::after {
    content: "{Link}";
    color:red;
} */

/* p::first-letter {
    color: red;
    font-size: 30px;
} */

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}